.version.index /* version checker */
{
	color: #000017;
	background-color: #60560B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 824.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #6D6E70;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 22px;
	padding-bottom: 136px;
	width: 0.01px;
}

#slideshowu244
{
	z-index: 42;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	margin-top: 83px;
}

#u249popup
{
	z-index: 43;
}

#u254
{
	z-index: 44;
}

.ie #u254
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u268-4popup
{
	z-index: 45;
}

#u268-4
{
	width: 25px;
	min-height: 20px;
	padding: 15px;
	top: 0px;
	left: 0px;
}

#u259-4popup
{
	z-index: 49;
}

#u259-4
{
	width: 25px;
	min-height: 20px;
	padding: 15px;
	top: 0px;
	left: 56px;
}

#u269-4popup
{
	z-index: 53;
}

#u269-4
{
	width: 81px;
	min-height: 20px;
	padding: 15px;
	top: 51px;
	left: 0px;
}

#u75-4
{
	z-index: 4;
	margin-left: 198px;
	top: -83px;
	margin-bottom: -82px;
}

#menuu187
{
	z-index: 11;
	width: 565px;
	margin-left: 198px;
	top: -8px;
	margin-bottom: -8px;
}

#u188
{
	width: 111px;
	min-height: 34px;
	margin-right: -10000px;
}

#u191
{
	width: 111px;
	padding-bottom: 11px;
}

#u191:hover
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u191:active
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u237
{
	width: 111px;
	min-height: 34px;
	margin-right: -10000px;
	left: 113px;
}

#u238
{
	width: 111px;
	padding-bottom: 11px;
}

#u191.MuseMenuActive,#u238:hover
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u238:active
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u195
{
	width: 111px;
	min-height: 34px;
	margin-right: -10000px;
	left: 226px;
}

#u196
{
	width: 111px;
	padding-bottom: 11px;
}

#u238.MuseMenuActive,#u196:hover
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u196:active
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u196.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u194-4_clip,#u240-4_clip,#u199-4_clip
{
	width: 111px;
	height: 23px;
}

#u211
{
	width: 112px;
	min-height: 34px;
	margin-right: -10000px;
	left: 339px;
}

#u214
{
	width: 112px;
	padding-bottom: 11px;
}

#u214:hover
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u214:active
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u224
{
	width: 112px;
	min-height: 34px;
	margin-right: -10000px;
	left: 453px;
}

#u225
{
	width: 112px;
	padding-bottom: 11px;
}

#u214.MuseMenuActive,#u225:hover
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u225:active
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u225.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u216-4_clip,#u226-4_clip
{
	width: 112px;
	height: 23px;
}

#u194-4,#u240-4,#u199-4,#u216-4,#u226-4
{
	margin-right: -10000px;
	top: 5px;
}

#pu166
{
	width: 0.01px;
	margin-top: 6px;
}

#u166
{
	z-index: 2;
	width: 961px;
	margin-right: -10000px;
}

#u178
{
	z-index: 8;
	width: 514px;
	height: 321px;
	margin-right: -10000px;
	margin-top: 119px;
	left: 223px;
}

#slideshowu285
{
	z-index: 57;
	width: 0.01px;
	height: 400px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 227px;
}

#u296popup
{
	z-index: 58;
}

#u296
{
	width: 480px;
	height: 360px;
}

#u297
{
	z-index: 59;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u288popup
{
	z-index: 60;
}

#u288
{
	width: 349px;
	top: 360px;
}

#u289-4
{
	z-index: 61;
	width: 329px;
	min-height: 20px;
	padding: 10px;
	margin-right: -10000px;
}

#u295-4popup
{
	z-index: 65;
}

#u295-4
{
	width: 48px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 381px;
}

#u290-4popup
{
	z-index: 69;
}

#u290-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 350px;
}

#u298-4popup
{
	z-index: 73;
}

#u298-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 360px;
	left: 450px;
}

#u179
{
	z-index: 9;
	width: 960px;
	height: 5px;
	margin-top: 1px;
}

#u185
{
	z-index: 10;
	width: 89px;
	min-height: 27px;
	margin-left: 836px;
	margin-top: 40px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 61px;
}

#page .verticalspacer
{
	clear: both;
}

